body {
    margin: 0;
    padding: 4% 8%;
    width: 100%;
    height: 700px;
    background-image: url(img/sky.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-size: 4rem;
    font-family: serif;
}

form {
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
}

select {
    font-size: 1.3rem;
    text-align: center;
    margin-right: 10px;
    padding: 0.6rem;
    background: #028adf;
    color: #fff;
    border-radius: 2rem;
    border: #fff 2px solid;
}

table {
    font-size: 2rem;
    font-family: serif;
    margin: 60px 8rem;
    width: 70%;
    height: 500px;
}

th {
    color: #0f0470;
    width: 30%;
    letter-spacing: 2rem;
    font-size: 2rem;
}

td {
    color: #3326a8;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

#description {
    text-align: right;
}

img#icon {
    width: auto;
    height: 10rem;
}

.arrow {
    text-align: right;
}

img#wind {
    width: auto;
    height: 3.5rem;
}

